<%- include("header") -%>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #576574;
  color:#333;
  overflow: none;
  font-size: 14px;
}

@media(max-width:580px) {
  body{
    font-size: 16px;
    line-height: 15px;
  }
}

.box{
  max-width: 1200px;
  padding: 40px;
  margin: 10px auto;
}

.table{
  display: table;
  width: 600px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media(max-width:580px) {
  .table{
    display: block;
  }
}


.row{
  display: table-row;
  background-color: #fff;
}

.row:nth-of-type(odd){
  background-color:aliceblue;
}
.row.header{
  font-weight: 700;
  background-color: #222f3e;
  color:white;
}

.cell{
  display: table-cell;
  padding: 6px 12px;
}


/* @media(max-width:580px) {
  .row{
    display: block;
    padding: 14px 0 7px;
    border-bottom: 1px solid #969696;;
  }
  .cell{
    display: block;
    padding: 6px 20px;
  }
  .row.header .cell{
    display: none;
  }
  .row.header{
    height: 6px;
  }

  .row .cell::before{
    content: attr(data-title);
    margin-bottom: 3px;
    max-width: 100px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    color: #969696;
    display: block;
  }
} */
</style>
<div>
    <p style="color:white">These are your suitable room mates</p>
</div>
<div class="box">
    <div class="table">
      <div class="row header">
        <div class="cell">Name</div>
        <div class="cell">Program</div>
        <div class="cell">Year</div>
        <div class="cell">CGPA</div>
        <div class="cell">Email-Id</div>
      </div>
      <% for (var l = result.length, i = 0; i < l; i++) { %>
            <%if(result[i].id === parameter){%>
            <%    continue; %>
            <% }else{ %>
                <div class="row">
                    <div class="cell" data-title="Name"><%=result[i].name%></div>
                    <div class="cell" data-title="Program"><%=result[i].program%></div>
                    <div class="cell" data-title="Year"><%=result[i].year%></div>
                    <div class="cell" data-title="CGPA"><%=result[i].cgpa%></div>
                    <div class="cell" data-title="Email-Id"><%=result[i].email%></div>
                  </div>
            <% } %>      
          <% } %>
    </div>
</div>
<button class="button2"><a href="/">Home</a></button>
<%- include("footer") -%>
